# Customer Purchase Behaviour Analysis

# Importing Library

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sqlalchemy
import pymysql

# Creating Connection between SQL & Python

In [ ]:
engine = sqlalchemy.create_engine('mysql+pymysql://root:root@localhost:3306/project')

In [ ]:
customers = pd.read_sql_table("customers", engine)
products = pd.read_sql_table("products", engine)
purchases = pd.read_sql_table("purchases", engine)

In [ ]:
customers.shape, products.shape, purchases.shape

((1000, 4), (1000, 5), (22385, 9))

# Cleaning Whitespace from column

In [ ]:
customers.columns = customers.columns.str.strip()
products.columns = products.columns.str.strip()
purchases.columns = purchases.columns.str.strip()

# Merging data

In [ ]:
data_ = pd.merge(customers, purchases, on='customerid', how='left')
combined_df = pd.merge(data_, products, on='productid', how='left')

In [ ]:
combined_df.info

<bound method DataFrame.info of         customerPK_x  customerid_x     customername         country  \
0                  1           100  Victoria Larson          Tuvalu
1                  1           100  Victoria Larson          Tuvalu
2                  1           100  Victoria Larson          Tuvalu
3                  1           100  Victoria Larson          Tuvalu
4                  1           100  Victoria Larson          Tuvalu
...              ...           ...              ...             ...
663648          1000           999    Heather Brown  Norfolk Island
663649          1000           999    Heather Brown  Norfolk Island
663650          1000           999    Heather Brown  Norfolk Island
663651          1000           999    Heather Brown  Norfolk Island
663652          1000           999    Heather Brown  Norfolk Island

        pruchasespk  transactionid  customerPK_y  productPK_x  productid  \
0              8050            693             1          367        237
1              8050            693             1          367        237
2              8050            693             1          367        237
3              8050            693             1          367        237
4              8050            693             1          367        237
...             ...            ...           ...          ...        ...
663648        10570            838          1000          471        246
663649        10570            838          1000          471        246
663650        10570            838          1000          471        246
663651        10570            838          1000          471        246
663652        10570            838          1000          471        246

        purchasequantity  purchaseprice purchasedate  productPK_y  \
0                      3         451.55   2023-11-24          367
1                      3         451.55   2023-11-24          368
2                      3         451.55   2023-11-24          369
3                      3         451.55   2023-11-24          370
4                      3         451.55   2023-11-24          371
...                  ...            ...          ...          ...
663648                 1         308.11   2023-12-05          467
663649                 1         308.11   2023-12-05          468
663650                 1         308.11   2023-12-05          469
663651                 1         308.11   2023-12-05          470
663652                 1         308.11   2023-12-05          471

        customerid_y      productname  productcategory
0                590          Blender  Home Appliances
1                844           Camera      Electronics
2                681           Router      Electronics
3                330        Microwave  Home Appliances
4                427           Camera      Electronics
...              ...              ...              ...
663648           504     Coffee Maker  Home Appliances
663649           329  Washing Machine  Home Appliances
663650           585   Vacuum Cleaner  Home Appliances
663651           999       Television      Electronics
663652           204       Smartphone      Electronics

[663653 rows x 16 columns]>

In [ ]:
combined_df.head()

,customerPK_x,customerid_x,customername,country,pruchasespk,transactionid,customerPK_y,productPK_x,productid,purchasequantity,purchaseprice,purchasedate,productPK_y,customerid_y,productname,productcategory
0,1,100,Victoria Larson,Tuvalu,8050,693,1,367,237,3,451.55,2023-11-24,367,590,Blender,Home Appliances
1,1,100,Victoria Larson,Tuvalu,8050,693,1,367,237,3,451.55,2023-11-24,368,844,Camera,Electronics
2,1,100,Victoria Larson,Tuvalu,8050,693,1,367,237,3,451.55,2023-11-24,369,681,Router,Electronics
3,1,100,Victoria Larson,Tuvalu,8050,693,1,367,237,3,451.55,2023-11-24,370,330,Microwave,Home Appliances
4,1,100,Victoria Larson,Tuvalu,8050,693,1,367,237,3,451.55,2023-11-24,371,427,Camera,Electronics

# Insights

# Calculate total purchases, total revenue, and average purchase value.

In [ ]:
#total_purchases
total_purchases = combined_df['purchasequantity'].sum()
print(total_purchases)

2081399

In [ ]:
#total_revenue
total_revenue = (combined_df['purchasequantity'] * combined_df['purchaseprice']).sum()
print(total_revenue)

1068923395.8199998

In [ ]:
#average_purcahse_value
average_purchase = total_revenue / total_purchases
print(average_purchase)

513.56006023833

# Identifing top customers and their purchasing behavior.

In [ ]:
top_customers = purchases.groupby('customerid').agg(
    total_purchases=('purchasequantity', 'sum'),
    total_spent=('purchaseprice', 'sum')
).nlargest(10, 'total_spent')
print(top_customers)

            total_purchases  total_spent
customerid
467                    1305    272151.95
328                    1020    178004.85
168                     700    138672.96
108                     915    137140.75
529                     524    134907.96
216                     695    126072.20
335                     720    122620.20
801                     795    117316.10
787                     680    117193.70
788                     260    113669.76

In [ ]:
# Extracting month, quarter, and year
combined_df['month'] = combined_df['purchasedate'].dt.month
combined_df['quarter'] = combined_df['purchasedate'].dt.to_period('Q')
combined_df['year'] = combined_df['purchasedate'].dt.year

In [ ]:
#Monthly
monthly_trends = combined_df.groupby(['year', 'month']).agg({
    'purchasequantity': 'sum',
    'purchaseprice': 'sum'
}).reset_index()
monthly_trends['average_purchase'] = monthly_trends['purchaseprice'] / monthly_trends['purchasequantity']
print(monthly_trends)

    year  month  purchasequantity  purchaseprice  average_purchase
0   2023      6              8788     1864009.97        212.108554
1   2023      7            196762    36543222.90        185.722969
2   2023      8            142653    16413056.77        115.055812
3   2023      9            181625    32492179.41        178.897065
4   2023     10            182372    24662861.88        135.233818
5   2023     11            211408    28205997.49        133.419726
6   2023     12            210450    38676618.72        183.780559
7   2024      1            173789    23681645.33        136.266653
8   2024      2            181164    29902075.85        165.055286
9   2024      3            183063    29177823.73        159.386789
10  2024      4            116886    22073304.13        188.844722
11  2024      5            191069    30941210.93        161.937368
12  2024      6            101370    16875503.56        166.474337

In [ ]:
#Quarterly
quarterly_trends = combined_df.groupby('quarter').agg({
    'purchasequantity': 'sum',
    'purchaseprice': 'sum'
}).reset_index()
quarterly_trends['average_purchase'] = quarterly_trends['purchaseprice'] / quarterly_trends['purchasequantity']
print(quarterly_trends)

  quarter  purchasequantity  purchaseprice  average_purchase
0  2023Q2              8788     1864009.97        212.108554
1  2023Q3            521040    85448459.08        163.995968
2  2023Q4            604230    91545478.09        151.507668
3  2024Q1            538016    82761544.91        153.827293
4  2024Q2            409325    69890018.62        170.744564

In [ ]:
#yearly
yearly_trends = combined_df.groupby('year').agg({
    'purchasequantity': 'sum',
    'purchaseprice': 'sum'
}).reset_index()
yearly_trends['average_purchase'] = yearly_trends['purchaseprice'] / yearly_trends['purchasequantity']
print(yearly_trends)

   year  purchasequantity  purchaseprice  average_purchase
0  2023           1134058   1.788579e+08        157.714991
1  2024            947341   1.526516e+08        161.136870

# Identify the top-performing product categories.

In [ ]:
top_product_categories = combined_df.groupby('productcategory').agg({
    'purchasequantity': 'sum',
    'purchaseprice': 'sum'
}).reset_index()

top_product_categories['average_purchase'] = top_product_categories['purchaseprice'] / top_product_categories['purchasequantity']
print(top_product_categories)

   productcategory  purchasequantity  purchaseprice  average_purchase
0      Electronics           1024982   1.641873e+08        160.185543
1  Home Appliances           1056417   1.673222e+08        158.386520

Key Insight Report
Total Purchases: 2081399
Total Revenue: 1068923395.8199998
Average Purchase Value: 513.56006023833
Purchase_trend over time:

Monthly Trend in 2023: November-2023 saw the highest purchase quantity (211408 units) , purchase price of 28205997.49, with an average purchase value of 133.419726. and lowest is the jun-2023 with the purchase quantity(8788 units) , purchase price of 1864009.97 with an avg purchase value of 212.108554 Purchases showed fluctuations across other months, indicating seasonal variations.

Quarterly Trend: Q4 2023 had the highest purchase quantity but a lowest average purchase value. Q2 2023 showed higher average purchase value  and lowest purchase quantity and lowest purchase price. Q1 2024 maintained a steady purchase quantity and average purchase value.

Yearly Trend: 2023 saw the highest overall purchase quantity (1134058 units) and revenue ($1.788579e+08), with a consistent average purchase value. 2024 started slightly lower but maintained a strong average purchase value.

Top performing product Performance: Electronics: Customers made 1024982 purchases, generating 1.641873e+08 in revenue. On average, each purchase in this category was about 160.18 Home Appliances:This category saw  1056417 purchases, totaling 1.673222e+08 in revenue. The average purchase here was around 158.38.